
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:height="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">

<head>

</head>

<!-- 사용자 스크립트 추가 -->
<!--<th:block layout:fragment="script">-->
<!--</th:block>-->

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>
<body>
<div layout:fragment="content" >

    <div class="container container-mt">
        <input type="hidden" id="itemId" th:value="${item.id}">

        <div class="d-flex detail-mt-md">
            <div class="repImgDiv">
                <img th:src="${item.getImgUrl}" class = "rounded repImg" th:alt="${item.getItemNm}">
            </div>
            <div class="wd50">
                <div class="h4" th:text="${item.getItemNm}"></div>
                <hr class="my-4">

                <div class="text-right">
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${item.getPrice}" id="price" name="price">
                        <span th:text="${item.getPrice}"></span>원
                    </div>
                    <div class="input-group w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text">수량</span>
                        </div>
                        <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </div>
                </div>
                <hr class="my-4">

                <div class="text-right mgt-50">
                    <h5>결제 금액</h5>
                    <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                </div>
                    <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
            </div>
        </div>
    </div>


</div>
</body>
</html>